ion-content{
    --ion-background-color:#8A4B38;
    --ion-color-primary: white;
    --ion-color-primary-contrast: #8A4B38;
  }

.loginlogo{
    margin-top: 27%;
    margin-left: 27%;
    margin-right: 27%;
}

.pagetexts {
    color: white;
    margin-left: 10%;
    padding: 10px;
    border-bottom-width: 10px;
    border-color: white;
}
.pagetexts2 {
    color: white;
    border-bottom-width: 10px;
    border-color: white;
}
.logintext {
    color: white;
    margin-left: 35%;
    padding: 20px;
    border-bottom-width: 10px;
    border-color: white;
}
.donebtn{
    margin: 27%
}