

<ion-content>
  <img class="loginlogo" height="auto" width="auto" horizontal="center" vertical="0" src=".\assets\justlogo.png">
  <grid>
    <ion-row>
      <ion-title class="logintext">Login</ion-title>
    </ion-row>
    <ion-row>
      <ion-item class="pagetexts">
        <ion-input placeholder="Username" id="username" class="pagetexts2"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="pagetexts">
        <ion-input placeholder="Password" id="password" class="pagetexts2"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="pagetexts">

      <ion-fab class="donebtn">
        <ion-fab-button size="large" href="/home">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-row>
  </grid>
</ion-content>
